.container {
  max-width: 90rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  height: 100%;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: sans-serif;
  position: relative;
  overflow-x: hidden;
}

section {
  margin-bottom: 8rem;
}

.btn {
  padding: 0.43rem 1rem;
  color: #000000;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #000000;
  display: inline-block;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(233, 233, 233, 0.5);
}

.btn-primary {
  padding: 0.43rem 1rem;
  color: #fff;
  background-color: #000000;
  border-radius: 50px;
  display: inline-block;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1rem;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}
.btn-primary:hover {
  opacity: 0.8;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  list-style: none;
  color: rgba(0, 0, 0, 0.87);
}

.prl {
  padding: 0 1.6rem;
}

header {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.header_container {
  height: 86px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  transition: all ease 5ms;
  color: rgba(0, 0, 0, 0.87);
}
.header_container .logo_container {
  width: 3.18rem;
  height: 3.18rem;
  margin-right: 2.5rem;
}
.header_container .menu_container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
}
.header_container .menu_container .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.2rem;
}
.header_container .menu_container .menu a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  letter-spacing: 1.5px;
}
.header_container .menu_container .menu a:hover {
  color: #008248;
}
.header_container .menu_container .header_right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 100%;
}
.header_container .menu_container .header_right .location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
  width: 8rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1.5rem;
}
.header_container .menu_container .header_right .location:hover {
  color: #008248;
}
.header_container .menu_container .header_right .location img {
  width: 1.3rem;
  height: 1.3rem;
}

.hrLine {
  display: none;
}

.active::after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #008248;
  bottom: 0;
  position: absolute;
  -webkit-animation: smooth 600ms;
          animation: smooth 600ms;
}

.header_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

@-webkit-keyframes smooth {
  from {
    opacity: 0.5;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes smooth {
  from {
    opacity: 0.5;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
@media screen and (min-width: 117.5rem) {
  .menu {
    transform: translateX(-3.2rem);
  }
  .logo_container {
    transform: translateX(-100px);
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 53.12rem) {
  .header_container {
    justify-content: space-between;
    height: 4.5rem;
    z-index: 1000;
  }
  .active::after {
    background-color: transparent;
  }
  .hrLine {
    display: block;
    padding: 0 2rem;
    width: 100%;
    opacity: 0.4;
  }
  .menu_container {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    background-color: #fff;
    width: 80vw;
    height: 100vw;
    z-index: 10;
    position: fixed;
    top: 4.5rem;
    bottom: 0;
    right: -100%;
    padding-top: 2rem;
    box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.1), inset 0 4px 2px -2px rgba(0, 0, 0, 0.07);
    transition: 0.3s linear;
  }
  .menu_container .menu {
    width: 100%;
    flex-direction: column;
    height: 11rem !important;
    margin-bottom: 0.8rem;
    gap: 0 !important;
  }
  .menu_container .menu a {
    width: 100%;
    height: 0 !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    text-transform: uppercase;
    padding: 1.8rem;
    padding-left: 2rem;
    font-size: 1.2rem;
  }
  .menu_container .header_right {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start !important;
    justify-content: flex-end !important;
    height: 181px !important;
    padding-left: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem !important;
  }
  .hamburger {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    margin-right: 0.8rem;
    cursor: pointer;
    padding: 0.6rem;
  }
  .hamburger .line {
    height: 2px;
    width: 100%;
    background-color: gray;
    border-radius: 5px;
  }
  .hamburger:hover {
    transition: all ease-in-out 0.3s;
    background-color: rgba(233, 233, 233, 0.8);
  }
  .logo_container {
    width: 2.8rem !important;
    height: 2.8rem !important;
  }
  .slide {
    right: 0rem !important;
  }
  .animation {
    -webkit-animation: down 0.4s;
            animation: down 0.4s;
    transform: translateY(350%) rotate(135deg);
  }
  @-webkit-keyframes down {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.422rem);
    }
    to {
      transform: translateY(350%) rotate(135deg);
    }
  }
  @keyframes down {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.422rem);
    }
    to {
      transform: translateY(350%) rotate(135deg);
    }
  }
  .animationOut {
    -webkit-animation: top 0.4s;
            animation: top 0.4s;
    transform: translateY(0);
  }
  @-webkit-keyframes top {
    from {
      transform: translateY(350%) rotate(135deg);
    }
    50% {
      transform: translateY(0.422rem);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes top {
    from {
      transform: translateY(350%) rotate(135deg);
    }
    50% {
      transform: translateY(0.422rem);
    }
    to {
      transform: translateY(0);
    }
  }
  .animation2 {
    -webkit-animation: up 0.4s;
            animation: up 0.4s;
    transform: translateY(-330%) rotate(45deg);
  }
  @-webkit-keyframes up {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.422rem);
    }
    to {
      transform: translateY(-330%) rotate(45deg);
    }
  }
  @keyframes up {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.422rem);
    }
    to {
      transform: translateY(-330%) rotate(45deg);
    }
  }
  .animation2_out {
    -webkit-animation: bottom 0.4s;
            animation: bottom 0.4s;
    transform: translateY(0);
  }
  @-webkit-keyframes bottom {
    from {
      transform: translateY(-330%) rotate(45deg);
    }
    50% {
      transform: translateY(-0.422rem);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes bottom {
    from {
      transform: translateY(-330%) rotate(45deg);
    }
    50% {
      transform: translateY(-0.422rem);
    }
    to {
      transform: translateY(0);
    }
  }
}
.overlay {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #1e3932;
  z-index: 9;
}

.sticky-container {
  max-width: 90rem;
  height: 3.125rem;
  margin: 0 auto;
  padding-left: 6.9rem;
  display: flex;
  align-items: center;
}
.sticky-container h5 {
  font-size: 1rem;
  display: inline-block;
  color: #fff;
  letter-spacing: 0.8px;
}
.sticky-container .color-white {
  display: none;
  color: #fff;
  border: 1px solid #fff;
}
.sticky-container .color-white:hover {
  background-color: rgba(233, 233, 233, 0.3);
}

#hero {
  background-color: #d4e9e2;
  height: 85vh;
  background-image: url("../images/R.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.hero_container {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.hero_heading {
  min-width: 48%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-wrapper h2 {
  line-height: 1.6;
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin: 1rem 0;
  color: rgba(0, 0, 0, 0.87);
}
.text-wrapper span {
  font-size: 1.2rem;
}
.text-wrapper button {
  margin: 1.5rem 0 1rem 0;
  color: #fff;
  background-color: #008248;
  border: none;
  line-height: 1.5;
}
.text-wrapper .display-sm {
  display: none;
}
.text-wrapper .text-decor {
  text-decoration: underline;
  cursor: pointer;
}
.text-wrapper .text-decor:hover {
  text-decoration: none;
}

@media screen and (min-width: 117.5rem) {
  .sticky-container {
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 53.12rem) {
  #hero {
    background-position: bottom;
    background-size: 25rem;
    min-height: 70vh;
  }
  .overlay {
    opacity: 1;
  }
  .sticky-container {
    justify-content: space-between;
    padding: 0 1.6rem;
  }
  .color-white {
    display: block !important;
  }
  .hero_container {
    justify-content: center;
    align-items: flex-start;
  }
  .hero_heading {
    padding: 2rem 1rem;
  }
  .text-wrapper {
    align-items: center;
  }
  .text-wrapper h2 {
    font-size: 1.8rem;
  }
  .display-lg {
    display: none;
  }
  .display-sm {
    display: block !important;
  }
}
.getting_started_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getting_started_container .getting_started-top {
  width: 70%;
  text-align: center;
}
.getting_started_container .getting_started-top h2 {
  font-size: 1.8rem;
  letter-spacing: 1.3px;
  text-align: center;
}
.getting_started_container .getting_started-top p {
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.5;
}
.getting_started_container .getting_started_bottom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 3rem;
  gap: 3rem;
}
.getting_started_container .getting_started_bottom-grid .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.getting_started_container .getting_started_bottom-grid .box .number-wrapper {
  padding-bottom: 2.4rem;
}
.getting_started_container .getting_started_bottom-grid .box .number-wrapper .number-round {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  color: #008248;
  border: 2px solid #008248;
  display: flex;
  align-items: center;
  justify-content: center;
}
.getting_started_container .getting_started_bottom-grid .box .sb-heading {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.87);
}
.getting_started_container .getting_started_bottom-grid .box .pt-3 {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  padding-top: 1.4rem;
}

@media screen and (max-width: 53.12rem) {
  .getting_started-top {
    width: 100% !important;
  }
  .getting_started-top h2 {
    font-size: 1.6rem !important;
  }
  .getting_started-top p {
    padding: 0 1rem;
  }
  .getting_started_bottom-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }
}
@media screen and (max-width: 25.87rem) {
  .banner_container-title {
    font-size: 0.75rem !important;
  }
  .text-wrapper span {
    text-align: center;
  }
  #hero {
    background-size: 20rem;
  }
}
#tab {
  background-color: #f1f8f6;
}

.tabbed_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 3.2rem;
}
.tabbed_container .tabbed_heading {
  padding-bottom: 2.4rem;
  width: 100%;
  font-size: 1.8rem;
}
.tabbed_container .tabbed_content {
  width: 100%;
}
.tabbed_container .tabbed_content .tabbed_options {
  max-width: 33.75rem;
  margin: 0 auto;
  display: flex;
  cursor: pointer;
}
.tabbed_container .tabbed_content .tabbed_options .option {
  flex: 1;
  padding: 0.3rem 0.8rem 1.6rem 0.8rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
}
.tabbed_container .tabbed_content .tabbed_options .option::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #008248;
  opacity: 0;
}
.tabbed_container .tabbed_content .tabbed_options .option .text-star {
  color: #cba258;
  font-size: small;
}
.tabbed_container .tabbed_content .menus_wrapper {
  width: 100%;
  position: relative;
}
.tabbed_container .tabbed_menus {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.14);
  padding: 2rem 0;
  gap: 3rem;
  background-color: #d4e9e2;
}
.tabbed_container .tabbed_menus .tabbed_img {
  max-width: 23rem;
  height: auto;
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}
.tabbed_container .tabbed_menus .menu-content {
  max-width: 23.43rem;
  text-align: left;
  padding: 0 1rem;
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}
.tabbed_container .tabbed_menus .menu-content .menus-sb-text {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.tabbed_container .tabbed_menus .menu-content p {
  font-size: 1rem;
  font-size: 400;
}

.tab-active::after {
  opacity: 1 !important;
  transition: all linear 0.4s;
  -webkit-animation: slides 0.4s linear;
          animation: slides 0.4s linear;
}
@-webkit-keyframes slides {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes slides {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.menu-display-none {
  display: none !important;
}

@media screen and (max-width: 25.87rem) {
  .tabbed_menus {
    flex-direction: column;
  }
  .tabbed_menus .menu-content {
    text-align: center !important;
  }
  .tabbed_heading {
    font-size: 1.5rem !important;
  }
  .option {
    padding: 0.8rem !important;
    font-size: 1.3rem !important;
  }
}
.extras_top p {
  padding: 0 10%;
}

.extras_image_wraper {
  width: 7rem;
  padding-bottom: 1.5rem;
}

.learn_more {
  margin: 1.6rem 0;
  font-size: 1rem;
  text-decoration: underline;
  color: #008248;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */