@import 'main';

// Header Section
header{
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.3);
}

.header_container{
    height:86px ;
    display: flex;
    align-items: center;
    flex-grow: 1;
    transition: all ease 5ms;
    color: $light_black;
    
    .logo_container{        
        width: 3.18rem;
        height: 3.18rem;
        margin-right: 2.5rem;        
    }

  
   
    .menu_container{
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        height: 100%;
       

        .menu{
            @include flex;
            height: 100%;
            gap: 1.2rem;
            

            a{
                height: 100%;
                @include flex;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
                position: relative;
                letter-spacing: 1.5px;

                &:hover{
                    color: $green;
                }
            }
        }
        
        .header_right{
            display: flex;
            align-items: center;
            gap: 1.2rem;
            height: 100%;

            .location{
                @include flex;
                gap: 0.5rem;
                cursor: pointer;
                position: relative;
                width: 8rem;

                
                &:hover{
                    color:$green;
                }
                img{
                    width: 1.3rem;
                    height: 1.3rem;
                }
                font-size: 1rem;
                font-weight: 600;
                margin-right: 1.5rem;

            }
        }
          
    }
}
.hrLine{
    display: none;
}
.active{

    &::after{
     content: '';
     width: 100%;
     height: 6px;
     background-color: $green;
     bottom: 0;
     position: absolute;
     animation: smooth 600ms;
    }

}

.header_buttons{
   @include flex;
   gap: 1.2rem;
}

@keyframes smooth {
    from{
        opacity: 0.5;
         width: 0;
    }

    to{
        opacity: 1;
        width: 100%;
        
    }
}

// Resposive
@media screen and (min-width:$lg){
.menu{
    transform: translateX(-3.2rem);
}
.logo_container{
    transform: translateX(-100px);
    margin-right: 0 !important;
}


}
@media screen and (max-width:$md){
    .header_container{
        
        justify-content: space-between ;
        height: 4.5rem;
        z-index: 1000;
       
    }
    .active{
        &::after{
            background-color: transparent;
           }
    }

    
    .hrLine{
        display: block;
        padding: 0 2rem;
        width: 100%;
        opacity: 0.4;
        
    }
    .menu_container{
        display: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        background-color: #fff;
        width: 80vw;
        height: 100vw;
        z-index: 10;
        position: fixed;
        top:4.5rem;
        bottom: 0;
        right: -100%;
        padding-top: 2rem;
        box-shadow:inset 0 4px 3px -3px rgb(0 0 0 / 10%), inset 0 4px 2px -2px rgb(0 0 0 / 7%);
        transition: .3s linear ;
      
                
        .menu{
            width: 100%;
            flex-direction: column;
            height: 11rem !important;
            margin-bottom: 0.8rem;
            gap: 0 !important;
            

            a{
                width: 100%;
                height: 0 !important;
                align-items:flex-start !important;
                flex-direction: column !important;
                text-transform: uppercase;
                padding: 1.8rem;
                padding-left: 2rem;
                font-size: 1.2rem ;
               
                
               
               
            }
        }

        .header_right{
            width: 100%;
            flex-direction: column-reverse;
            align-items: flex-start !important;
            justify-content: flex-end !important;
            height: 181px !important;
            padding-left: 2rem;
            margin-top: 2rem;
            font-size: 1.2rem !important;
           

        }
    }

    
    

    .hamburger{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        @include flex;
        flex-direction: column;
        gap: 0.3rem;
        margin-right: 0.8rem;
        cursor: pointer;
        padding: 0.6rem;
       

        .line{
            
            height: 2px;
            width: 100%;
            background-color:gray;
            border-radius: 5px;   
            
        }

        &:hover{
            transition: all ease-in-out .3s ;
            background-color: rgba(233,233,233,0.8);
        }

        
    }

   
    .logo_container{        
        width: 2.8rem !important;
        height: 2.8rem !important;
        
        
    }

    .slide{
        right: 0rem !important;
    }
// for hamburger Line 1

.animation{
    animation: down .4s;
    transform: translateY(calc(1 * 350%)) rotate(135deg);
}

@keyframes down {
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(0.422rem);
    }
    to{
        transform: translateY(calc(1 * 350%)) rotate(135deg);
        
    }
}
.animationOut{
    animation: top .4s;
    transform: translateY(0);
}

@keyframes top {
    from{
        transform: translateY(calc(1 * 350%)) rotate(135deg);
    }
    50%{
        transform: translateY(0.422rem);
    }
    to{
        transform: translateY(0);
        
    }
}

// for hamburger Line 2

.animation2{
    animation: up .4s;
    transform: translateY(calc(-1 * 330%)) rotate(45deg);
}



@keyframes up {
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-0.422rem);
    }
    to{
        transform: translateY(calc(-1 * 330%)) rotate(45deg);
        
    }
}

.animation2_out{
    animation: bottom .4s;
    transform: translateY(0);
}

@keyframes bottom {
    from{
        
        transform: translateY(calc(-1 * 330%)) rotate(45deg);
    }
    50%{
        transform: translateY(-0.422rem);
    }
    to{
       
        transform: translateY(0);
    }
}
 }


// hamburger animation

// Header section

// Overlay for mobile navbar background
.overlay{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    
}

// Sticky Header

.sticky{
    position:sticky;
    top: 0;
    background: $dark_green;
    z-index: 9;
    
}
.sticky-container{
max-width: $large;
height: 3.125rem;
margin: 0 auto;
padding-left: 6.9rem;
display: flex;
align-items: center;

h5{
    font-size: 1rem;
    display: inline-block;
    color: #fff;
    letter-spacing: 0.8px;
}

.color-white{
    display: none;
    color: #fff;
    border: 1px solid #fff;

    &:hover{
        background-color:rgba(233,233,233,0.3);
    }
    
}

}

// Sticky Header



// Hero Section

#hero{
    background-color: $lime_green;
    height: 85vh;
    background-image: url('../images/R.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
   
    
   
}

.hero_container{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hero_heading{
    min-width: 48%;
    
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    h2{
        line-height: 1.6;
        font-weight: 600;
        font-size: 2.2rem;
        text-transform: uppercase;
        margin: 1rem 0;
        color:$light_black;
        
        
    }
    span{
        font-size: 1.2rem;
    }
    button{
        margin: 1.5rem 0 1rem 0;
        color: #fff;
        background-color: $green;
        border: none;
        line-height: 1.5;
    }
    .display-sm{
        display: none;
    }
   
    .text-decor{
        text-decoration: underline;
        cursor: pointer;

        &:hover{
            text-decoration: none;
        }
    }

}

// Responsive

@media screen and (min-width:$lg){
    
    .sticky-container{
        padding-left: 0 !important;
        
    }
}


@media screen and (max-width:$md){

#hero{
background-position: bottom;
background-size:25rem;
min-height:70vh;
}
.overlay{
    opacity: 1;
}
.sticky-container{
    justify-content: space-between;
    padding: 0 1.6rem;
   
}
.color-white{
    display: block !important;
}

.hero_container{
    justify-content: center;
    align-items: flex-start;
}

.hero_heading{
    padding: 2rem 1rem;
}

.text-wrapper{
    align-items: center;

    h2{
        font-size: 1.8rem;
    }
}

.display-lg{
    display: none;
}
.display-sm{
    display: block !important;
}


}

// Getting Started Section

.getting_started_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .getting_started-top{
        width: 70%;
        text-align: center;


        h2{
            font-size: 1.8rem;
            letter-spacing: 1.3px;
            text-align: center;
            
        }
        p{
            font-size: 1rem;
            text-align: center;
            padding-top: 1rem;
            color: $light_black;
            font-weight: 400;
            line-height: 1.5;
            
        }
    }

    .getting_started_bottom-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 3rem;
        gap: 3rem;
        

        .box{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
            
          .number-wrapper{
            padding-bottom: 2.4rem;
        
            .number-round{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                font-size: 1.6rem;
                font-weight: 500;
                color: $green;
                border: 2px solid $green;
                @include flex;
            } }

            .sb-heading{
                font-size: 1.2rem;
                color: $light_black;
                
            }
            .pt-3{
                font-size: 1rem;
                line-height: 1.5;
                color: $light_black;
                font-weight: 400;
                padding-top: 1.4rem;
                
            }
        }
    }
}

@media  screen and (max-width:$md) {
   
    
    .getting_started-top{
        width: 100% !important;

        h2{
            font-size: 1.6rem !important;
        }

        p{
            padding: 0 1rem;
        }
    }
    .getting_started_bottom-grid{
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) !important;
    }

}


@media  screen and (max-width:$sm) {
    .banner_container-title{
        font-size:0.75rem !important;
    }
    .text-wrapper{
        span{
            text-align: center;
        }
    }

    #hero{
        background-size:20rem;
    }
}

// <!-- Tabbed Section -->

#tab{
 background-color: $light_green;
  
}

.tabbed_container{
    @include flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3.2rem;
   

    .tabbed_heading{
        padding-bottom: 2.4rem;
        width: 100%;
        font-size: 1.8rem;
    }

    .tabbed_content{
        width: 100%;
       
        .tabbed_options{
            max-width: 33.75rem;
            margin: 0 auto;
            display: flex;
            cursor: pointer;

            .option{
                flex: 1;
                padding: .3rem .8rem 1.6rem .8rem;
                position: relative;
                font-size: 1.6rem;
                font-weight: 600;

                &::after{
                    content: '';
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: $green;
                    opacity: 0;
                }

                .text-star{
                    color:#cba258 ;
                    font-size: small
                }
            }
        }

        .menus_wrapper{
            width: 100%;
            position: relative;
            
        }
    }

    .tabbed_menus{
             
        @include flex;
        box-shadow: inset 0 7px 9px -7px rgb(0 0 0 / 14%);
        padding: 2rem 0;
        gap: 3rem;
        background-color: $lime_green;
        
      
        .tabbed_img{
          max-width:23rem ;
          height: auto;
          animation: fade .30s;
           
        }
        .menu-content{
            max-width: 23.43rem;
            text-align: left;
            padding: 0 1rem;
            animation: fade .30s;
            

            .menus-sb-text{
                font-size: 1.4rem;
                padding-bottom: 1rem;
            }

            p{
                font-size: 1rem;
                font-size: 400;
            }
        }
    }

}
.tab-active{
   &::after{
    opacity: 1 !important;
    transition: all linear .4s;
    
    animation: slides .4s linear;
   }
   @keyframes slides {
    0%{
      width:0;
    }
    100%{
        width: 100%;
    }
   }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.50;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}

.menu-display-none{
    display: none !important;
    
}

@media screen and (max-width:$sm){
    .tabbed_menus{
        flex-direction: column;

        .menu-content{
          text-align: center !important;
          
        }
    }

    .tabbed_heading{
        font-size: 1.5rem !important;
    }
    .option{
        padding: .8rem !important;
         font-size: 1.3rem !important;
        }
        
    
        
    }

// <!-- Tabbed Section -->

// Endless Extrass

.extras_top{
    p{
        padding: 0 10%;
    }
}
.extras_image_wraper{
    width: 7rem;
    padding-bottom:1.5rem ;
}
.learn_more{
margin: 1.6rem 0 ;
font-size: 1rem;
text-decoration: underline;
color: $green;
cursor: pointer;

}

// Endless Extrass
